body {
  background-color: #051d3b;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}

.logo {
  width: 145px;
  height: 50px;
  top: 12px;
}

#campo_busca {
  width: 752px;
  height: 50px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.16);
  border: none;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#campo_busca::placeholder {
  color: #fff;
  opacity: 0.64;
  font-family: sans-serif;
  padding-left: 13px;
}

.perfil {
  display: inline-flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.perfil img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.perfil p {
  line-height: 24px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 13px;
}

.menu {
  width: 184px;
  height: 146px;
}

.legenda {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.btn_menu {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.icone {
  border-radius: 16px;
  width: 48px;
  height: 48px;

  background-color: #5081fb29;
  /* opacity: 16%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  transition: 0.5s;
  background-color: #5081fb;
  opacity: 100%;
  border-radius: 16px;
}

a:focus {
  background-color: #5081fb !important;
  opacity: 100% !important;
  border-radius: 16px;
}

.icone-editor-codigo {
  background-image: url(../assets/icons/icon_code.svg);
  width: 24px;
  height: 24px;
}

.texto-btn-menu p {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.container_central {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 10px;
  border-radius: 8px;
  margin-left: 109px;
  justify-content: center;
}

.editor__codigo {
  display: flex;
  /* padding: 5px; */
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #6bd1ff;
  width: 752px;
  height: 366px;
  /* margin-left: 109px; */
  justify-content: center;
}

.editor_codigo {
  background: #000;
  width: 688px;
  height: 302px;
  border-radius: 8px;
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.24);

  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.editor_codigo textarea {
  color: #fff;
  background-color: #000;
  border: none;
}
.editor_codigo textarea::placeholder {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-highlight button {
  width: 752px;
  height: 56px;
  border-radius: 8px;
  background: #5081fb14;
  /* background: rgba(80, 129, 251, 0.08); */
  color: #fff;
  border: none;

  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.btn-highlight button:hover {
  background-color: #5081fb29;
}

.configuracao_projeto {
  width: 270px;
}
