body {
  background-color: #051d3b;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}

.logo {
  width: 145px;
  height: 50px;
  top: 12px;
}

#campo_busca {
  width: 752px;
  height: 50px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.16);
  border: none;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#campo_busca::placeholder {
  color: #fff;
  opacity: 0.64;
  font-family: sans-serif;
  padding-left: 13px;
}

.perfil {
  display: inline-flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.perfil img {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.perfil p {
  line-height: 24px;
}

.menu {
  width: 189px;
  height: 146px;
}

.menu p {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

a {
    text-decoration: none;
}

.btn_menu {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.icone {
  border-radius: 16px;
  width: 48px;
  height: 48px;
  
  background-color: #5081FB29;
  /* opacity: 16%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
   transition: 0.5s;
    background-color: #5081fb;
    opacity: 100%;
    border-radius: 16px;
}

a:focus {
     background-color: #5081fb !important;
     opacity: 100% !important;
     border-radius: 16px;
 }
 

.icone-editor-codigo {
  background-image: url(../assets/icons/icon_code.svg);
  width: 24px;
  height: 24px;
}

.texto-btn-menu p {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
